<div class="bg-gradient py-5 tdt-contact" id="contact">
    <div id="particles"></div>
    <div class="container">
        <div class="u-row">
            <div class="u-col">
                <p>
                    Если у вас есть вопросы или предложения
                    и рекомендации по развитию этого проекта
                </p>
                <i class="ti-email td-icon"></i>
                <a href="mailto:nvs8178@mail.ru">nvs8178@mail.ru</a>&nbsp;&mdash;&nbsp;<span>Епишина Надежда</span>
            </div>
            <div class="u-col td-social">
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100001685032152"
                       target="_blank"><span class="ti-facebook"></span></a>
                    <a href="https://vk.com/nadezda_epishina"
                       target="_blank">VK</a>
                    <a href="https://www.instagram.com/fizicheskaiaterapiia/"
                       target="_blank"><span class="ti-instagram"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>