<div class="section tdt-feedback" id="things">
    <div class="container">
        <div class="section-title">
            <h2>Что говорят родители</h2>
            <hr />
        </div>

        <div class="testimonials owl-carousel">
            <div class="testimonials-single">
                <img src="../img/client.png" class="td-img">
                <p>
                    &laquo;ТСР дает ребенку возможность жить полной жизнью,
                    независимо от тяжести заболевания. Главное – ТСР существуют,
                    и это целый мир. Второй вопрос – обеспечение.
                    Главная задача родителя и реабилитолога
                    <a class="td-more" data-toggle="modal"
                       data-target="#modal1">Читать дальше...</a>
                </p>
                <h5>Светлана Гусева</h5>
                <i>
                    (Мама ребенка с ДЦП,
                    президент общества матерей сиделок «Матери мира»)
                </i>
            </div>

            <div class="testimonials-single">
                <i class="td-icon td-icon-gradient ti-user"></i>
                <p>
                    &laquo;Я мама ребёнка, который точно не сможет ходить,
                    если не выйдет супер-лекарство.
                    С самого начала, когда моему ребенку ставили диагноз после года,
                    было очень, конечно, тяжело. Рос-рос ребёнок не по дням
                    <a class="td-more" data-toggle="modal"
                       data-target="#modal3">Читать дальше...</a>
                </p>
                <h5>Алина</h5>
                <i>(Мама ребенка со спинальномышечной атрофией)</i>
            </div>


            <div class="testimonials-single">
                <i class="td-icon td-icon-gradient ti-user"></i>
                <p>
                    &laquo;Зная особенности ребенка, ему можно помочь.
                    Дети, которые совсем трудные, зачем их мучить,
                    заставлять, лучше бы научили, к примеру,
                    чай налить и бутерброд сделать, чем заставлять
                    во чтобы то ни стало ходить&raquo;
                </p>
                <h5>Екатерина</h5>
                <i>(Мама ребенка с ДЦП)</i>
            </div>

            <div class="testimonials-single">
                <i class="td-icon td-icon-gradient ti-user"></i>
                <p>
                    &laquo;Однажды мы с ребенком встали перед выбором – либо полноценная
                    жизнь в коляске,
                    либо мучиться и ходить. Никто не учил нас, как принять такого ребенка,
                    как воспитывать, а у всех заложено в сознании
                    <a class="td-more" data-toggle="modal"
                       data-target="#modal2">Читать дальше...</a>
                </p>
                <h5>Светлана</h5>
                <i>(Мама ребенка с несовершенным остеогенезом)</i>
            </div>

            <div class="testimonials-single">
                <i class="td-icon td-icon-gradient ti-user"></i>
                <p>
                    &laquo;Пока родители выбирают путь для своего ребенка и не способны из-за
                    суеты этого поиска заметить его потенциал, они видят только свои ожидания,
                    но никак не реальные возможности ребенка. Время идет,
                    и ребенок развивается в своем темпе, он может и готов освоить навык,
                    но никто его не направил в нужное время в нужном направлении&raquo;
                </p>
                <h5>Анна</h5>
                <i>Мама ребенка с ДЦП</i>
            </div>
        </div>
    </div>

</div>


<!-- Modal 1-->
<div class="modal fade"
     id="modal1"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Светлана Гусева</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span class="ti-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Мама ребенка с тяжелой формой ДЦП,
                    президент общества матерей сиделок «Матери мира»</strong>

                <blockquote class="td-blockquote">
                    <p>
                        &laquo;ТСР дает ребенку возможность жить полной жизнью,
                        независимо от тяжести заболевания. Главное – ТСР существуют,
                        и это целый мир. Второй вопрос – обеспечение.
                        Главная задача родителя и реабилитолога – подарить
                        движения через грамотно подобранные программы реабилитации и ТСР.
                        Главная задача родителей и
                        близких людей – принять ребенка и его болезнь,
                        уважать его, дать возможность развиваться.
                    </p>
                    <p>
                        Родителей сильно пугает беззащитность: если ребенок не ходит,
                        значит, обуза, зависим от людей. Родителю нужно многое принять и понять,
                        научиться новым умениям,
                        приобрести новые знания, а это неплохо – развиваться.
                        Мы все друг для друга созданы.
                        Когда я приняла своего сына, то все вокруг стало складываться.
                    </p>
                    <p>
                        Лев пользуется самыми современными ТСР, он ходит в школу.
                        Как только родитель смог понять своего ребенка,
                        открывается мир решения проблемы.
                        Я уважала сына, и никогда не позволяла задавать ему цели,
                        которые перед ним не стоят, ведь мы видим,
                        например: мой сын хорошо поет, куда мы бежим, так и тут.
                        Потенциал и степень болезни видно, все видно. Но я увидела страшное,
                        из-за нашей несовершенной социальной системы родители ставят перед ребенком
                        задачу ходить любой ценой,
                        но если бы ДЦП было излечимо, то все бы ходили,
                        не было столько людей и техники.
                        Я бы сказала: "Родные, остановитесь,
                        подарите ребенку жизнь, ходить в школу и садик, подумайте,
                        как он будет жить без вас и что надо сделать для того чтоб он был в обществе.
                    </p>
                    <p>
                        Думайте, изучайте и действуйте.
                        Я живу так каждый день, думаю, изучаю, действую&raquo;
                    </p>
                </blockquote>

            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="modal fade"
     id="modal2"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Светлана</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span class="ti-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Мама ребенка с несовершенным остеогенезом</strong>
                <blockquote class="td-blockquote">
                    <p>
                        &laquo;Однажды мы с ребенком встали перед выбором – либо полноценная
                        жизнь в коляске,
                        либо мучиться и ходить. Никто не учил нас, как принять такого ребенка,
                        как воспитывать, а у всех заложено в сознании: «мы должны исправить своего
                        ребенка, вылечить», но мы не можем понять – главное улучшить качество его жизни.
                        Как то приезжал режиссер из Германии в Москву, у которого такой же диагноз,
                        как у моего ребенка. Он очень многого в жизни добился,
                        но никогда не лечился (передвигается на инвалидной коляске).
                        Я задала вопрос: «Не жалели ли вы, что не лечились?».
                        На что режиссер ответил: «Я очень благодарен своим родителям,
                        что они позволили мне быть самим собой»
                    </p>
                    <p>
                        Его слова произвели на меня огромное впечатление и заставили задуматься.
                        Мы все хотим, чтобы наши дети были счастливы.
                        Так же учиться в институте, чтобы быть независимым, самостоятельным.
                        Коляска активная с ручным приводом - долго тяжело перемещаться,
                        приобрели с электроусилителем - она позволила ребенку быть активным.
                        Чтобы не было остеопороза - надо двигаться, и сын не перенапрягает руки,
                        спокойно заезжает на пандус, не устает,
                        весь день ездит, никто его не ждет, успевает, чувствует свою свободу.
                        Очень важно правильно подобрать ТСР в зависимости от ситуации&raquo;
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3-->
<div class="modal fade"
     id="modal3"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Алина</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span class="ti-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Мама ребенка со спинальномышечной атрофией</strong>
                <blockquote class="td-blockquote">
                    <p>
                        &laquo;Я мама ребёнка, который точно не сможет ходить,
                        если не выйдет супер-лекарство.
                    </p>
                    <p>
                        С самого начала, когда моему ребенку ставили диагноз после года,
                        было очень, конечно, тяжело. Рос-рос ребёнок не по дням, а по часам,
                        девочка действительно,
                        если объективно, умна и мила.
                        Врачи говорили: "Рожайте другого", такие не доживают до 2-х лет",
                        самое мягкое: "Вы поняли, что она будет колясочницей?".
                    </p>
                    <p>
                        Я, конечно, не понимала, как это вообще возможно.
                        Я занялась реабилитацией. Минимум 4 реабилитации в год,
                        можно было бы и больше, но мы
                        теперь полюбили уезжать на отдых,
                        или просто летом отдыхать на природе и на пляже.
                    </p>
                    <p>
                        Какая реабилитация в жару? Занимаемся дома,
                        соблюдаем правильное позиционирование в течение суток.
                        Большинство детей со СМА не проходят реабилитаций,
                        так как некоторые специалисты родителям говорят,
                        что это бессмысленно, ничего не поможет,
                        все боятся заразиться вирусами в реабилитационных центрах.
                    </p>
                    <p>
                        Почему я столько таскаю ребенка на реабилитации?
                        Естественно, я понимаю, что она не пойдёт, я понимаю,
                        что её мышцы не стали более развиты, чем когда стартовало
                        её заболевание в 1 год и 1 месяц, а сейчас ей 5 лет.
                        Но в нашем случае при отсутствии физической активности
                        могут атрофироваться мышцы ещё больше, заболевание само
                        может прогрессировать, мотонейроны могут отмирать.
                        Моя задача сохранить максимально физическую форму ребенка в целом,
                        без цели научить ходить, к сожалению.
                    </p>
                    <p>
                        Так же нужно физическое развитие и для развития новых навыков,
                        даже если они выполняются не очень физиологически правильно, например,
                        не умел ребёнок садиться и научился.
                        Ведь это же бесценно. Таким образом, человек становится
                        более самостоятельным, себя оценивает как более полноценную личность.
                        Для меня главное, чтобы ребенок почувствовал
                        себя вполне полноценным и мобильным&raquo;
                    </p>
                </blockquote>

            </div>
        </div>
    </div>
</div>