<div class="section">
    <div class="container">
        <div class="section-title">
            <h2>Сергей Денисов</h2>
            <small>автор и исполнитель песни "я живу"</small>
            <hr />
            <audio controls preload="metadata">
                <source src="../mp3/sergey.mp3" type="audio/ogg">
            </audio>
        </div>

        <div class="img-gallery owl-carousel owl-theme">
            <img src="../img/sergey1.jpg" />
            <img src="../img/sergey2.jpg" />
            <img src="../img/sergey3.jpg" />
            <img src="../img/sergey4.jpg" />
        </div>

    </div>

</div>