<div class="section bg-gradient--pattern" id="links">
    <div class="container">
        <div class="section-title">
            <h2>Полезные статьи и ресурсы</h2>
            <hr />
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>
                    <a href="https://www.miloserdie.ru/article/dtsp-ustranit-povrezhdeniya-mozga-nelzya-no-pomoch-detyam-mozhno/"
                       target="_blank">
                        ДЦП: устранить повреждения мозга пока нельзя, но помочь детям можно
                    </a>
                </h4>
                <p>
                    Множество фондов собирает деньги на помощь детям с ДЦП.
                    Но что такое ДЦП и какие перспективы у детей с этим диагнозом,
                    знают не все.
                </p>

                <h4>
                    <a href="../img/recomendations_kids_reha_brochure.pdf"
                       target="_blank">
                        Рекомендации по обеспечению
                        техническими средствами
                        реабилитации детей
                        с двигательными
                        нарушениями
                    </a>
                </h4>
                <p>
                    Рекомендации составлены с использованием
                    Системы классификации развития функциональных
                    навыков крупной моторики <br>
                    (Р. Палисано с соавт., 1997; Ф. Хайнен с соавт., 2009 г.)
                </p>

                <h4>
                    <a href="https://www.youtube.com/user/nakedheartfoundation/videos"
                       target="_blank">
                        Полезный канал на ютубе от фонда помощи детям «Обнаженные сердца»
                    </a>
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    <a href="https://www.miloserdie.ru/article/gmfcs-budet-li-moj-rebenok-hodit/"
                       target="_blank">
                        GMFCS: будет ли мой ребенок ходить?
                    </a>
                </h4>
                <p>
                    В текстах о ДЦП мы часто употребляем сокращение GMFCS — классификация больших
                    моторных функций. Разбираемся, что это такое
                </p>

                <h4>
                    <a href="https://www.youtube.com/playlist?list=PLy9zhw-GsLVdLrhy2TQMcPJdPSJKgJr4A"
                       target="_blank">
                        «Программа наблюдения за детьми с ДЦП и другими нарушениями движения»
                    </a>
                </h4>
                <p>
                    Образовательная платформа
                    <a href="https://physrehab.ru/"
                    target="_blank">(АНО "Физическая реабилитация")</a>
                </p>

                <h4>
                    <a href="https://www.youtube.com/channel/UCyBeRojs9DomMS6WwrrO9MQ"
                       target="_blank">
                        Физическая реабилитация
                    </a>
                </h4>
                <p>
                    Теория и практика
                    <a href="https://physrehab.ru/"
                       target="_blank">(АНО "Физическая реабилитация")</a>
                </p>

                <h4>
                    <a href="https://www.osoboedetstvo.ru"
                       target="_blank">
                        «Особое детство»
                    </a>
                </h4>
                <p>
                    На сайте можно найти поддержку, общение, друзей в России и мире.
                    Можно познакомиться с «особым» законодательством о правах инвалидов в
                    России, найти готовые ответы на свои вопросы и пути решения наиболее часто
                    возникающих проблем.
                    Так же сайт удобен для поиска организации, работающих с инвалидами,
                    рядом с вами.
                </p>
            </div>
        </div>
    </div>

</div>