<div class="section td-main">
    <div class="container text-center">
        <div class="section-title">
            <h2>«Мой ребенок будет ходить?»</h2>
            <hr />
        </div>
        <p>
            Самый частый вопрос родителей детей с тяжелым поражением опорно-двигательного
            аппарата специалистам: «Мой ребенок будет ходить?».
            Ответить на самые простые, но важные вопросы специалистам бывает трудно.
        </p>
        <p>
            Есть некоторые состояния, когда человек не может передвигаться самостоятельно,
            независимо от качества оказанной ему медицинской, реабилитационной помощи.
        </p>
        <p>
            Не смогут ходить примерно
            в 30% случаях при ДЦП (как показало исследование в Европе в 2008 г),
            постепенно или сразу теряется способность ходить при миодистрофиях,
            травмах, осложнениях при различных заболеваниях. Очень важно родителям и
            специалистам выработать правильный подход к физической реабилитации ребенка.
        </p>
        <h6>Мы верим в развитие ребенка с любым уровнем нарушений!</h6>
    </div>

</div>

