<div class="section light-bg" id="features">

    <div class="section-title">
        <h2>Видеообращение Светланы Гусевой</h2>
        <small>Президент
            <a href="https://vk.com/materi_mira"
               target="_blank">ОБЩЕСТВА МАТЕРЕЙ СИДЕЛОК — "МАТЕРИ МИРА" и ЛОУ</a></small>
        <hr />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe style="min-height: 300px; width: 100%"
                        src="https://www.youtube.com/embed/xh8UBC0WZhI"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe style="min-height: 300px; width: 100%"
                        src="https://www.youtube.com/embed/eBB2rkh32ZA"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
            </div>
        </div>

    </div>

</div>