<div class="section bg-gradient td-uppercase-title" id="features">
    <div class="section-title">
        <h2>Важно помнить</h2>
        <hr/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="td-steps">
                    <div>
                        <div class="td-step">
                            <div class="td-step-icon">1</div>
                            <div class="td-step-content">
                                <h4>Это не просто</h4>
                                <p>
                                    Обучение детей с серьезными задержками физического
                                    развития - медленный и трудоемкий
                                    процесс, требующий много времени и ресурсов
                                    (физических, материальных, психических).
                                    Успех в этом процессе во многом зависит
                                    от тесного сотрудничества родителей, специалиста и ребенка
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">2</div>
                            <div class="td-step-content">
                                <h4>GMFCS</h4>
                                <p>
                                    При ДЦП классификация больших моторных функций GMFCS
                                    дает общие ориентиры для ориентировочного прогноза каждого уровня,
                                    особенно она важна для родителей детей постарше, чтобы понять,
                                    какие зоны ближайшего двигательного развития актуальны
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">3</div>
                            <div class="td-step-content">
                                <h4>Ставить достижимые цели для реабилитации</h4>
                                <p>
                                    Нужно ставить конкретные и реально достижимые цели реабилитации,
                                    учитывать индивидуальные особенности и возможности ребенка,
                                    реализуя его личностный потенциал.
                                    Важно двигаться маленькими шагами вперед,
                                    определяя зону ближайшего развития как двигательного, так и коммуникативного.
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">4</div>
                            <div class="td-step-content">
                                <h4>Развивать когнитивные навыки и навыки самообслуживания</h4>
                                <p>
                                    Необходимо развивать когнитивные навыки: от выполнения простых
                                    инструкций, умения
                                    выразить просьбу жестом, мимикой, словами, включения в игру до развития
                                    интеллектуальных, творческих способностей. Важно развивать навыки
                                    самообслуживания:
                                    научить самостоятельно одеться и раздеться, умыться, пользоваться
                                    полотенцем,
                                    причесаться, обучить этике поведения во время еды,
                                    при общении с людьми и др. в
                                    зависимости от потенциала возможностей ребенка
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">5</div>
                            <div class="td-step-content">
                                <h4>АДК - альтернативные и дополнительные методы коммуникации</h4>
                                <p>
                                    Если у ребенка имеются трудности с общением, можно подобрать
                                    дополняющий или замещающий метод для коммуникации.
                                    АДК не мешает речевому развитию, наоборот, используется
                                    на пути к речи, вместе с речью и вместо речи.
                                    Есть различные методы: коммуникативные книги, вспомогательные средства.
                                    На сайте <a href="https://communicationmatrix.org/"
                                                target="_blank">communicationmatrix.org</a> можно заполнить матрицу
                                    коммуникации на своего ребенка и определить на каком
                                    коммуникативном уровне находится ребенок и какие ближайшие
                                    шаги необходимо предпринять для его развития.
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">6</div>
                            <div class="td-step-content">
                                <h4>Позиционирование</h4>
                                <p>
                                    В течении суток ребенку нужно находится в правильных положениях лежа,
                                    сидя, стоя для
                                    исключения развития вторичных осложнений и менять эти положения в
                                    течении дня (постуральный менеджмент)
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">7</div>
                            <div class="td-step-content">
                                <h4>Правильная нагрузка на костно-мышечную систему</h4>
                                <p>
                                    Важно обеспечить адекватную нагрузку на костно-мышечную
                                    систему посредством
                                    использования различных технических средств реабилитации (вертикализатор,
                                    функциональный стул, кресло-коляска и т.д.), использовать ортопедические
                                    приспособления (ортезы, обувь)
                                </p>
                            </div>
                        </div>
                        <div class="td-step">
                            <div class="td-step-icon">8</div>
                            <div class="td-step-content">
                                <h4>Физическая активность</h4>
                                <p>
                                    Уделять внимание развитию не одной какой-то части тела (только ног или рук), но
                                    всего организма в целом. Важно на регулярной основе поддерживать и продолжать
                                    развивать максимально возможный уровень физической активности и двигательных навыков
                                </p>
                            </div>
                        </div>
                        <div class="td-step u-last">
                            <div class="td-step-icon">9</div>
                            <div class="td-step-content">
                                <h4>Принять своего ребенка таким какой он есть</h4>
                                <p>
                                    Чем раньше произойдет принятие родителями своего ребенка таким какой он есть, тем
                                    раньше можно начать действовать в интересах ребенка. Надо научить ребенка жить с
                                    тем, что ему дано и научиться самим жить со своим ребенком, ведь все дети когда-то
                                    вырастут и станут взрослыми и оттого, насколько мы помогли и научили маленького
                                    человечка, пусть и с нарушениями развития, реализовывать свой потенциал двигательных
                                    возможностей, научили его быть самостоятельным и активным членом нашего общества -
                                    зависит качество его жизни, ощущение себя в этом мире и способность быть счастливом
                                    в своем теле.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>