<div class="section td-tab">
    <div class="td-container">
        <div class="section-title">
            <h2>Полезные книги</h2>
            <hr />
        </div>

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"
                   data-toggle="tab"
                   href="#books1">Автобиографические</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="tab"
                   href="#books2">Книги родителей</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="tab"
                   href="#books3">Особые дети</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="tab"
                   href="#books4">Для детей</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="tab"
                   href="#books5">Для всех</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="books1">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>
                            «В стране драконов. Удивительная жизнь Мартина
                            Писториуса» - Писториус, Дэвис
                        </h4>
                        <p>
                            15 лет назад история Мартина потрясла весь мир.
                            И годы спустя он наконец решил рассказать ее.
                            Автор тяжело заболел в детстве и впал в вегетативное состояние,
                            а затем пережил ужасные годы парализованным,
                            без возможности подать знак о том, что он пришел в сознание.
                            Он столкнулся с равнодушием сиделок,
                            врачей и собственной матери. Но также встретил людей,
                            которые изменили всё в его судьбе.
                        </p>

                        <h4>«Я умею прыгать через лужи» - Алан Маршалл</h4>
                        <p>
                            Повесть австралийского писателя Алана Маршалла,
                            впервые опубликованная в 1955 году;
                            первая часть его автобиографической трилогии,
                            включающей также книги «Это трава, что повсюду растет»
                            и «В сердце моём». На написание этой книги его натолкнул перенесённый
                            в детстве полиомиелит.
                        </p>

                        <h4>«Белое на черном» - Гальего Рубен Давид Гонсалес</h4>
                        <p>
                            Рубен родился инвалидом, он был практически полностью парализованным и имел ДЦП.
                            Кроме того, его родителям сообщили, что он умер,
                            а самого его отправили в обычный советский детский дом,
                            коих на своем веку он повидал немало. Автор стал известным писателем,
                            завел семью, детей
                        </p>

                        <h4>Кристофер Нолан (ирландский писатель)</h4>
                        <p>
                            Список книг - «Under the eye of the clock: the life story of Christopher Nolan», «The banyan
                            tree»,
                            «Dam-burst of dreams: the writings of Christopher Nolan»
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books1_1"
                               aria-expanded="false"
                               aria-controls="books1_1">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books1_1" class="collapse multi-collapse">
                            <p>
                                С тремя нашумевшими книгами
                                <a href="https://www.miloserdie.ru/article/kristofer-nolan-genialnyj-pisatel-s-dtsp/"
                                   target="_blank">Кристофер Нолан</a> произвел фурор в литературном мире,
                                и показал себя - как значительного, Ирландского, литературного деятеля.
                            </p>
                            <p>
                                С его пожизненной борьбой с церебральным параличом, он проявил себя и запомнится,
                                как человек со сверхчеловеческой стойкостью и упорством.
                            </p>
                            <p>
                                Он не мог ни говорить, ни двигаться, его состояние, было настолько серьезными,
                                что движения глазами были практически единственным его средством общения, без
                                посторонней помощи. Набирание хотя-бы одного слова на пишущей машинке занимали у
                                Кристофера долгие минуты: его матери приходилось обхватывать его голову руками,
                                когда он стучал по клавишам пишущей машинки, палкой привязанной к своему лбу.
                                Усилия, затраченные им, были не просто сложнейшими, они были героическими,
                                как со стороны Нолана, так и со стороны его матери - Бернадетты.
                                Это был жестокий парадокс, что человек в его состоянии - она однажды описал его
                                как "человек с кляпом во рту и в смирительной рубашке ", - мог иметь такую
                                неукротимую тягу к общению. Именно поэтому одним из основных моментов его жизни,
                                был момент, когда Кристофер получил литературную премию в возрасте 21 года.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>«История моей жизни» - Елена Келлер Адам</h4>
                        <p>
                            Самое поразительное в книгах слепоглухонемой Елены Келлер,
                            а она написала семь книг, — то, что чтение их не вызывает ни снисходительной жалости,
                            ни слезливого сочувствия. Елена Келлер потеряла зрение и слух в возрасте полутора лет.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books1_2"
                               aria-expanded="false"
                               aria-controls="books1_2">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books1_2" class="collapse multi-collapse">
                            <p>
                                Острое воспаление мозга превратило сообразительную малышку в мятущееся животное,
                                которое тщетно пыталось понять, что происходит в окружающем мире,
                                и безуспешно объяснить этому миру себя и свои желания.
                            </p>
                            <p>
                                Сильная и яркая натура, которая впоследствии так помогла ей стать Личностью,
                                поначалу проявлялась лишь в яростных вспышках безудержного гнева.
                                В то время большинство ей подобных становились, в конце концов, полуидиотами,
                                которых семья старательно скрывала на чердаке или в дальнем углу.
                                Но Елене Келлер повезло. Она родилась в Америке, где в ту пору уже разрабатывались
                                методы обучения глухих и слепых. А потом вообще случилось чудо:
                                в 5 лет ее учительницей стала Анна Салливан, сама испытавшая временную слепоту.
                                Талантливый и терпеливый педагог, чуткая и любящая душа, она стала спутницей жизни Елены
                                Келлер и сначала научила ее языку знаков и всему, что знала сама, а потом помогла
                                дальнейшему образованию. Елена Келлер прожила 87 лет. Марк Твен говорил, что две самые
                                замечательные личности XIX столетия — Наполеон и Елена Келлер. Сравнение, на первый
                                взгляд, неожиданное, но понятное, если признать, что и тот, и другая изменили наше
                                представление о мире и границах возможного. Однако если Наполеон подчинял и соединял
                                народы силой стратегического гения и оружия, то Елена Келлер открыла нам изнутри мир
                                физически обездоленных. Благодаря ей мы проникаемся состраданием и уважением к силе
                                духа,
                                источником которой служат доброта людей, богатство человеческой мысли и вера в Божий
                                промысел.
                            </p>
                        </div>

                        <h4>«Особое детство» - Ирис Юханссон</h4>
                        <p>
                            Шведская писательница, психолог, исследователь проблем аутизма,
                            специалист по проблемам общения. Сама является аутистом.
                            Свои детские аутические переживания и воспоминания изложила в книге
                        </p>

                        <h4>«Отворяя двери надежды. Мой опыт преодоления аутизма»
                            - Маргарет М. Скариано, Тэмпл Грэндин</h4>
                        <p>
                            В 2010 году журнал Time включил Темпл Грэндин в список ста самых влиятельных людей в мире
                            в категории «Герои».
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books1_3"
                               aria-expanded="false"
                               aria-controls="books1_3">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books1_3" class="collapse multi-collapse">
                            <p>
                                Профессор Колорадского университета,
                                всемирно известный специалист в области животноводства,
                                автор множества книг и статей, выступающий по всему миру, – эта женщина сумела
                                преодолеть
                                аутизм и реализовать свой творческий и общественный потенциал. Эта книга – самая
                                известная из всех,
                                написанных человеком с аутизмом. Вскоре после издания она была переведена на датский,
                                исландский, немецкий, шведский, японский и другие языки. Автор делится воспоминаниями
                                о жизненном пути, на котором было много и сложнейших препятствий, и замечательных людей,
                                понимавших ее и
                                помогавших справляться с трудностями.Опыт Т. Грэндин, которая сумела изменить себя и
                                найти свое место в жизни, очень важен для родителей аутичных детей и специалистов.Книга
                                адресована широкому кругу читателей.
                            </p>
                        </div>

                        <h4>
                            Книги Ника Вуйчича
                        </h4>
                        <p>
                            Список книг - «Жизнь без границ: Путь к потрясающе счастливой жизни (2010)»,
                            «Неудержимый. Невероятная сила веры в действии (2013)»,
                            «Будь сильным. Ты можешь преодолеть насилие (и всё, что мешает тебе жить) (2014)»
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books1_4"
                               aria-expanded="false"
                               aria-controls="books1_4">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books1_4" class="collapse multi-collapse">
                            <p>
                                «Любовь без границ. Путь к потрясающе сильной любви (2015)»,
                                «Безграничность. 50 уроков, которые сделают тебя возмутительно счастливым (2016)»,
                                «Безграничность. 50 уроков, которые сделают тебя возмутительно счастливым (2016)»
                            </p>
                            <p>
                                Ник Вуйчич — человек, который смог своими книгами и выступлениями вдохновить
                                и восхитить миллионы людей. Он родился с редкой патологией — отсутствием полноценных
                                конечностей. Единственное, что было — частичная стопа с двумя пальцами, благодаря
                                которой Ник смог научиться многим вещам в этой жизни — работать за компьютером, плавать,
                                заниматься некоторыми видами спорта и т.д.
                            </p>
                            <p>
                                Со временем он смог принять свой недостаток и теперь готов делиться опытом
                                с остальным миром. Он уверен, что его миссия в этой жизни — помогать людям находить
                                свой путь и вдохновлять на изменения. Его книги мотивируют и поражают силой духа,
                                а выступления никого не могут оставить равнодушным… Представляем вам список
                                книг Ника Вуйчича.
                            </p>
                        </div>

                        <h4>
                            «Кандидат на выбраковку» - Антон Борисов
                        </h4>
                        <p>
                            Антон Борисов - "стеклянный человек" - такой как все, только лучше: добрее,
                            умнее, чувствительнее... он тот, кто знает, что счастье - это быть.
                            И быть тем, кем хочешь. «Кандидат на выбраковку» - честная автобиография человека,
                            которому в 5 месяцев поставили диагноз несовершенный остеогенез. Человека,
                            от которого отвернулись родители. Человека, который, несмотря на хрупкие кости,
                            обладает железной волей к жизни. Жизнь - это не выбор. Жизнь - это шанс.
                        <p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="books2">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>«Мой маленький Будда» - Валентина Ласлоцки</h4>
                        <p>
                            Родился ребёнок. Он не тот, кого мы ждали.
                            Он "не такой"... И мы чувствуем, что всё потеряно, нет никакой надежды.
                            Мир рушится…Эти чувства знакомы многим людям, в семьях которых родился ребенок с тем или
                            иным отклонением здоровья.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books2_1"
                               aria-expanded="false"
                               aria-controls="books2_1">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books2_1" class="collapse multi-collapse">
                            <p>
                                Прошла через это и автор книги "Мой маленький Будда"
                                Валентина Ласлоцки. Но скоро она почувствовала: мир не рухнул, жизнь продолжается.
                                Нормальная, полноценная жизнь: материнская любовь и любовь сыновняя, родительские
                                радости и заботы…Возможно, опыт матери, которая воспитала ребенка с синдромом Дауна,
                                поможет родителям, оказавшимся в похожей ситуации, преодолеть многие проблемы.
                                Ведь ее сын вырос, получил профессиональное образование, работает по специальности.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>«Мама, почему у меня синдром Дауна» - Каролина Филипс</h4>
                        <p>
                            В семье автора, жены священника англиканской церкви, родилась дочь с синдромом Дауна.
                            Достойно выдержать испытание, измениться самим, дать дочери образование — с решением
                            этих и множества других задач пришлось столкнуться родителям Лиззи.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books2_2"
                               aria-expanded="false"
                               aria-controls="books2_2">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books2_2" class="collapse multi-collapse">
                            <p>
                                На своем пути они
                                встретили немало трудностей, но неизменную поддержку им оказывала вера в Бога и надежда
                                на Его помощь. Автор обсуждает свой опыт взаимодействия с церковной общиной,
                                родительскими ассоциациями, образовательными и медицинскими учреждениями. Специальное
                                дополнение к русскому изданию повествует о настоящем Лиззи — студентки одного из
                                английских колледжей. Издание предназначено для широкого круга читателей: родителей,
                                специалистов, а также для всех, кто неравнодушен к непростым жизненным обстоятельствам
                                других людей
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="books3">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>«Чудо» - Р. Дж. Паласио</h4>
                        <p>
                            Это книга не о мальчике-инвалиде. Мальчике-без-лица. Мальчике-невидимке.
                            Мальчике-шокирующем-окружающих.
                        </p>
                        <h4>«Лужок чёрного лебедя» - Дэвид Митчелл</h4>
                        <p>
                            Книга о подростке, который имел проблемы с речью и всю дорогу терпел издевательства
                            одноклассников.
                        </p>

                        <h4>«Привет, давай поговорим» - Шэрон Дрейпер</h4>
                        <p>
                            В этой книге девочка с тяжёлой формой ДЦП ходит в школу с условно здоровыми детьми.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h4>«Суперухо» - Сиси Белл</h4>
                        <p>
                            Очень трогательный и даже весёлый комикс о маленькой девочке,
                            которая потеряла слух в 1970-х, ходила в школу с огромным
                            слуховым аппаратом и очень его стеснялась.
                        </p>

                        <h4>«Герман» - Ларс Соби Кристенсен</h4>
                        <p>
                            История о мальчике, у которого начинают выпадать волосы
                        </p>

                        <h4>«Голос» - Дарья Доцук</h4>
                        <p>
                            книга о старшекласснице, у которой после взрыва в метро начались панические атаки,
                            мешающие нормальному общения со сверстниками.
                        </p>

                        <h4>«Зефирный Жора» - Елена Соковенина и «Крупная кость» - Тоня Шипулина</h4>
                        <p>
                            два произведения о проблемах с весом у школьников.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="books4">
                <p>
                    <i>Книги о детях с ограниченными возможностями здоровья
                        - для детей от 7 до 16 лет</i>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>«Просто потому что» - Эллиотт Ребекка</h4>
                        <p>
                            Это одна из лучших книг о настоящей любви. Она даёт ответ на вопрос,
                            почему люди любят и хотят, чтоб их любили. Трогательная история о больной
                            девочке, рассказанная её маленьким братиком, никого не сможет оставить
                            равнодушным.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books4_1"
                               aria-expanded="false"
                               aria-controls="books4_1">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books4_1" class="collapse multi-collapse">
                            <p>
                                Ведь человеку дарована уникальная способность любить окружающий
                                мир и других людей. Любовь избавляет от страха, страданий и боли. Она наполняет
                                жизнь смыслом и счастьем. Но это свойственно только настоящей любви, когда
                                любишь не за что-то, не ради чего-то, не потому что должен. Истинная любовь
                                безусловна и безгранична. Её нельзя выбрать или назначить. Она сама выбирает
                                нас и отдаётся нами просто так, <i>Просто потому что</i>.
                            </p>
                        </div>

                        <h4>«Цветик-семицветик» - Валентин Катаев</h4>
                        <p>
                            Хорошо знакомую всем сказку о девочке Жене, которая получила в подарок
                            волшебный цветок, исполняющий любые желания, художник Вениамин Лосин
                            иллюстрировал несколько раз. Впервые "Цветик-семицветик" с рисунками художника
                            был опубликован в 1960 году. Именно этот - первый - вариант книги стал любимым
                            у многих поколений читателей.
                        </p>

                        <h4>«Отважная Кайса и другие дети» - Астрид Линдгрен</h4>
                        <p>
                            Маленькая Кайса живёт одна с бабушкой. За неделю до Рождества бабушка ломает
                            ногу. Кто теперь пойдёт на ярмарку продавать сладости и подготовит дом к
                            празднику? И тут за дело принимается Кайса…
                            Сборник рассказов Астрид Линдгрен о самых разных детях, счастливых и не очень.
                            Но почти все они смелые, отважные, умные, с огоньком в глазах.
                        </p>

                        <h4>«Порожек» - Анна Никольская</h4>
                        <p>
                            "Порожек" - это особенная книжка, про особенную девочку, которая не умеет
                            ходить, зато умеет много чего другого. Например, разговаривать по душам с
                            ризеншнауцером Чучиком, летать во сне и шить игрушки из старых колготок.
                            Еще она сочиняет истории про зашкавцев, которые живут за папиным книжным шкафом
                            в их квартире, и мастерски объезжает порожки на новой американской коляске.
                        </p>


                        <h4>«Каос и Бьорнар» - Анне-Катрине Вестли</h4>
                        <p>
                            Каос – герой нового цикла Анне-Катрине Вестли – живёт в небольшом городке у
                            подножия горы, в Газетном доме напротив водопада. Его папа – водитель автобуса,
                            он видит много интересного в пути. Мама работает в аптеке. Один раз она даже
                            спасла маленькую девочку, которая съела много таблеток для взрослых. Пока
                            родители на работе, Каос проводит время с Бьёрнаром – своим «дневным братом».
                            Чего только с ними не случается! Однажды они даже в космос летали!
                        </p>

                        <h4>«Дом отважных трусишек» - Юрий Ермолаев</h4>
                        <p>
                            Нечасто мы задумываемся о том, что быть здоровым — настоящее счастье.
                            А Надя Ермакова знает это совершенно точно, ведь с раннего детства она не может
                            бегать, прыгать или плавать, да и ходить у девочки с трудом получается только
                            на костылях. Но судьба всё-таки улыбается ей, и Надя попадает в клинику к
                            знаменитому хирургу — говорят, он творит чудеса... В «Доме отважных трусишек»
                            девочке предстоит проявить стойкость, терпение и смелость, повстречать новых
                            друзей и пройти до конца нелёгкий путь к мечте.
                        </p>

                        <h4>«Самолёт по имени Серёжка» - Владислав Крапивин</h4>
                        <p>
                            Рома Смородкин может всё, что и его сверстники: он учится, помогает по дому,
                            играет, мастерит и замечательно рисует. Но несколько лет назад страшный случай
                            усадил его в инвалидное кресло, наверное, только поэтому у него до сих пор нет
                            настоящего друга.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books4_7"
                               aria-expanded="false"
                               aria-controls="books4_7">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books4_7" class="collapse multi-collapse">
                            <p>
                                А друг - это иная жизнь, где может случиться всё. Дружба
                                сразу похожа и на полёт, и на сон, и на тайну - на невозможное.
                                Для среднего школьного возраста.
                            </p>
                        </div>

                        <h4>«Хайди, или Волшеная долина» - Йоханна Спири</h4>
                        <p>
                            Маленькая сирота Хайди и ее суровый дед живут в швейцарских Альпах. Такие
                            разные по характеру и взглядам на жизнь, они тем не менее очень привязаны друг
                            к другу и прекрасно ладят. Открытая и добрая девочка всегда готова помочь
                            окружающим, и люди платят ей тем же…
                            Для среднего школьного возраста.
                        </p>
                    </div>
                    <div class="col-lg-6">

                        <h4>«Стефан Каста» - Лето Мари-Лу</h4>
                        <p>
                            Лето всегда пахнет луговыми цветами, любовью и счастьем. Безмятежность июльских
                            дней - это застывшее время, когда секундная стрелка трепетно останавливается,
                            оглядывается по сторонам и понимает, что спешить ей совершенно точно некуда.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books4_3"
                               aria-expanded="false"
                               aria-controls="books4_3">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books4_3" class="collapse multi-collapse">
                            <p>
                                Сбежав из пыльного и душного Стокгольма и окунувшись с головой в хуторскую
                                жизнь, Адам и Мари-Лу подарили это лето друг другу, утонув в воспоминаниях,
                                спорах, смехе. Их связывает череда летних каникул, прогулки по красивейшему
                                лугу, окрещенному "бронзовым веком", и наивное детское "я хочу, чтобы мы всегда
                                были вместе". Им было двенадцать и в их руках был целый мир. Но этот мир -
                                хрустальный шар, который за секунду разбился на миллион маленьких осколков.
                                Прошло три года, и это лето - шанс все склеить. Много труда - да, много слез -
                                да, много побед - безусловно!
                            </p>
                            <p>
                                Роман известного шведского писателя Стефана Касты "Лето Мари-Лу" был отмечен
                                премией "Серебряный грифель" в 2001 и номинирован на Премию им. Бернарда Шоу в
                                2006.
                                Для старшего школьного возраста.
                            </p>
                        </div>

                        <h4>«Стрижи на льду» - Эдуард Тополь</h4>
                        <p>
                            Удивительные события, происходящие в повести Эдуарда Тополя, случились с твоим
                            современником, мальчишкой Егором. Егор был инвалидом и не мог ходить, но после
                            одной мистической встречи жизнь Егора круто поменялась, и он решил: "Я буду
                            ходить!" Сила воли и сила духа помогли Егору, а любовь к хоккею сделала из
                            бывшего инвалида настоящего чемпиона!
                            Для среднего школьного возраста.
                        </p>

                        <h4>«Я слышу» - Ирина Зартайская</h4>
                        <p>
                            Сколько на земле детей? Пятьдесят тысяч? Миллион? Ещё больше. Так много, что и
                            не сосчитать. И все разные - у каждого свои особенности, странности,
                            непохожести.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books4_9"
                               aria-expanded="false"
                               aria-controls="books4_9">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books4_9" class="collapse multi-collapse">
                            <p>
                                Кто-то любит читать, кто-то - играть в компьютерные игры; один
                                предпочитает пирог с вишней, другой - с черникой; этот просит на день рождения
                                машинку, а тот - конструктор.
                            </p>
                            <p>
                                Но бывают и другие различия - необыкновенные. Такие, которые не всегда видны с
                                первого взгляда, однако зачастую лишают их обладателя возможности жить так, как
                                все. Одна из таких особенностей - глухота.
                            </p>
                            <p>
                                Трудно поверить, что некоторые люди не могут услышать то, как барабанит по
                                подоконнику дождь, как плещется о берег вода, как звучат их имена и голоса
                                родных. Но так бывает. Чтобы понять, каково это, можно попробовать крепко-крепко
                                зажать ладошками уши и посмотреть вокруг. Всё сразу станет другим - далёким,
                                немножко ненастоящим и, может быть, даже чужим.
                            </p>
                            <p>
                                Иногда люди рождаются без слуха, а иногда лишаются его из-за тяжёлых болезней.
                                Если глухота появилась в раннем детстве, человек никогда не научится говорить.
                                Те же, кто потерял слух, будучи постарше, нуждаются в постоянных тренировках и
                                специальных занятиях. Всё для того, чтобы научиться сложному искусству чтения
                                по губам и не менее трудному языку жестов, который, как и все языки, начинается
                                с азбуки. Благодаря языку жестов люди с нарушениями слуха учатся "произносить"
                                слова, понимать друг друга и общаться со своими родственниками.
                            </p>
                            <p>
                                Однако, несмотря на все сложности, лишённые слуха ребята ничем другим не
                                отличаются от обычных мальчиков и девочек. Они тоже обожают играть, смотреть
                                мультфильмы, получать подарки, озорничать и лакомиться шоколадом. А ещё они
                                здорово умеют дружить. Только, возможно, друзья и внимание окружающих нужны им
                                чуточку больше, чем остальным. Потому что не так-то просто жить одному в мире
                                тишины.
                                Для младшего школьного возраста.
                            </p>
                        </div>

                        <h4>«Таинственный сад» - Ф. Бёрнетт</h4>
                        <p>
                            Мери Леннокс была очень неприятным и несчастным ребёнком. Она ругала слуг и
                            гувернанток, ужасно относилась к соседским детям и заслужила всеобщую нелюбовь
                            окружающих. Но в один момент жизнь её резко изменилась, и девочка оказалась в
                            имении своего дяди. Именно здесь и произошли основные события романа Фрэнсис
                            Бернетт "Таинственный сад", романа, ставшего классикой детской литературы.
                            Книга адресована детям среднего школьного возраста.
                        </p>

                        <h4>«Поллианна» - Элинор Портер</h4>
                        <p>
                            История про необыкновенную девочку Полианну волнует сердца юных читательниц вот
                            уже сто лет! Чем же заслужила такую любовь простая веснушчатая девчонка
                            одиннадцати лет? А тем, что научила всех вокруг "играть в радость"! Тот, кто
                            начал играть в эту игру, забывал о своих бедах и болезнях, грустные становились
                            веселыми, а злые - добрыми. В чем же секрет этой удивительной игры? Спроси у
                            Полианны!
                            Для старшего школьного возраста.
                        </p>

                        <h4>«Костя+Ника» - Тамара Крюкова</h4>
                        <p>
                            Костя и Ника - это Ромео и Джульетта наших дней. Это история о человеческих
                            взаимоотношениях: благородстве и подлости, отзывчивости и равнодушии, но в
                            первую очередь о любви. О том, что настоящая любовь приходит независимо от
                            возраста и побеждает всё. Даже, казалось бы,
                            невозможное...
                            Сюжет повести лёг в основу художественного фильма "КостяНика. Время лета".
                            Для читателей старше 12 лет.
                        </p>

                        <h4>«Что делала Кейти» - Сюзен Кулидж</h4>
                        <p>
                            Вот уже более ста лет повесть "Что делала Кейти" остается одной из самых
                            любимых книг для детей. Кейти - простодушная, искренняя и порывистая - живет
                            вместе с младшими братьями и сестрами, мечтая о том дне, когда станет "красивой,
                            всеми любимой и милой, как ангел". Несчастный случай и тяжелая болезнь
                            разрушают ее надежды на будущее. Но Кейти, проявив мужество, стойкость, доброту
                            и терпение, сумела преодолеть все невзгоды.
                            Для среднего школьного возраста.
                        </p>

                        <h4>«Жизнь побеждает» - Ольга Матюшина</h4>
                        <p>
                            Книга для детей и взрослых, которые чувствуют себя не такими, как все.
                        </p>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="books5">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>«Мама на нуле» - Куусмаа, Изюмска</h4>
                        <p>
                            <a href="../img/Mama_na_nule.pdf"
                               target="_blank">Скачать книгу</a><br>
                            Анастасия Изюмская и Анна Куусмаа собрали в книге 15 разных историй,
                            15 женских голосов, которые рассказывают о своей "точке ноль" и выходе из неё,
                            если он случился к моменту нашей беседы, и три мужских истории - от мужей
                            героинь,
                            которые решились на откровенность.
                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books5_1"
                               aria-expanded="false"
                               aria-controls="books5_1">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books5_1" class="collapse multi-collapse">
                            <p>
                                А эксперты - Людмила Петрановская, Екатерина
                                Бурмистрова, Ирина Млодик, Дарья Утина, Галина Филиппова рассказали в своих
                                главах о
                                разных гранях выгорания и депрессии, о переходе из состояния "до детей"
                                в состояние "яжемать", о тех трансформациях, которые
                                переживает душа и тело на этом пути.
                            </p>
                            <p>
                                В книге также собраны практики самопомощи: как поддержать себя,
                                когда поддержки искать негде: быстрые техники восстановления, советы,
                                как наладить сон мамы и ребенка,
                                10 сценариев получасовых побегов, 7 книг для поддержки и вдохновении,
                                15 фильмов о родительстве, которые поднимут настроение,
                                13 полезных для родителей сайтов, 21 рецепт для уставшей мамы и 12 записок-мотиваторов.
                            </p>
                        </div>

                        <h4>«Что случилось с Тимми?» - Марии Шривер</h4>
                        <p>
                            (пособие для учителей) рассказывает историю о восьмилетней девочке Кейт,
                            которая узнала о том, что значит иметь ограниченные возможности,
                            познакомившись с Тимми, мальчиком с задержкой умственного развития.

                            <a class="td-collapse"
                               data-toggle="collapse"
                               data-target="#books5_2"
                               aria-expanded="false"
                               aria-controls="books5_2">
                                <i class="td-icon-to-show ti-angle-down"></i>
                                <i class="td-icon-to-hide ti-angle-up"></i>
                            </a>
                        </p>
                        <div id="books5_2" class="collapse multi-collapse">
                            <p>
                                Когда Кейт впервые встретила Тимми, ей было неуютно, потому что он выглядел,
                                говорил и двигался по-другому. Разговор с мамой помог Кейт узнать, что дети с
                                инвалидностью очень похожи на других детей, несмотря на то, что они другие.
                            </p>
                            <p>
                                Так как Кейт дружит с Тимми, она растет, понимая, что действительно и Тимми,
                                и она получают удовольствие от одних и тех же вещей – например, они оба питают
                                любовь баскетболу! Благодаря вполне реалистичным героям книги Что случилось
                                с Тимми, дети начинают понимать важные вещи, которые помогают установить
                                отношения с другими людьми.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <h4>«Необычные родители» - Куусмаа, Изюмска</h4>
                        <p>
                            <a href="../img/unusual_parents.pdf"
                               target="_blank">Скачать книгу</a><br>
                            Пособие по взаимопомощи для родителей людей с особыми потребностями.
                            Сборник статей. / Ред.-сост. Петрова А. – СПб.: Издательско-Торговый Дом «Скифия», 2017
                        </p>

                        <h4>«Паралич. Путь к выздоровлению» - М. А. Леонтьев</h4>
                        <p>
                            Книга предназначена в первую очередь пациентам после любых тяжелых травм и
                            заболеваний центральной нервной системы. Материал позволит вам лучше понимать
                            своих близких, оказавшихся в крайне тяжелой ситуации.
                        </p>

                        <h4>«Трава, пробившая асфальт» - Тамара Черемнова</h4>
                        <p>
                            Реальная история женщины, которая победила Судьбу. Тамара Черемнова мгновенно
                            стала звездой Рунета, написав честную, страшную, пронзительную и при этом очень
                            позитивную книгу. Она преодолела даже то, о чем мы боимся подумать: страшный
                            диагноз, предательство родных, ужасы детского дома и интерната… Чудом выжив в
                            ГУЛАГе, созданном государством для инвалидов, она стала писателем и научила
                            выживать других…
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

