<div class="section" id="thanks">
    <div class="container">
        <div class="section-title">
            <h2>Спасибо</h2>
            <hr />
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Преподавателям курса ФТ и ЭТ</h4>
                <p>
                    Екатерине Клочковой, Ирине Покровской, Екатерине Мишиной, Людмиле Антоновой и всем преподавателям курса ФТ И ЭТ
                </p>

                <h4>Над проектом работали</h4>
                <p>
                    Надежда Епишина (СПб),
                    Анастасия Бутурлина (СПб),
                    Ксения Мущинина (Казань),
                    Александр Молчанов (Москва),
                    Исламия Садыкова (Казань)
                </p>
            </div>
            <div class="col-md-6">
                <h4>Благодаря вам обучение стало возможным</h4>
                <p>
                    <a href="http://medinstitut.org/"
                       target="_blank">
                        Санкт-Петербургский&nbsp;Медико-Социальный&nbsp;Институт</a>,<br>
                    <a href="https://physrehab.ru/"
                       target="_blank">АНО "Физическая реабилитация"</a>,<br>
                    <a href="https://helpspinabifida.ru/"
                       target="_blank">БФ "Сделай шаг" программа&nbsp;"Spina&nbsp;Bifida"</a>
                </p>

                <h4>И остальным</h4>
                <p>
                    Разработчикам сайта Руслану Шевчуку, Марине Исмаловой, Кристине Кулешовой. <br>
                    Родителям и всем кто откликнулся и помог с информацией для проекта,
                    <a href="https://vk.com/sdenisov1999"
                       target="_blank">Сергею Денисову</a> за прекрасную песню
                </p>

            </div>
        </div>
    </div>
</div>