<div class="td-container">
    <div class="section-title">
        <h2>Полезные видео</h2>
        <hr />
    </div>

    <div id="videoGallery" style="display:none;">

        <img data-type="youtube"
             data-image="../img/nik.jpg"
             data-videoid="6GXr3xOxaHU"
             data-description="Ник Вуйчич - Австралийский мотивационный оратор, меценат, писатель и певец">

        <img data-type="youtube"
             data-image="../img/maxresdefault.jpg"
             data-videoid="ywLesEm8Vf4"
             data-description="История про людей с неограниченными возможностями, которые поверили в себя">

        <img data-type="youtube"
             data-videoid="jAyyzPuWsRs"
             data-description="Полина - Член сборной России по большому теннису на колясках">

        <img data-type="youtube"
             data-videoid="qjOiaIc5GUU"
             data-description="Валерия Леонова - Покоряет подиумы в инвалидной коляске">

        <img data-type="youtube"
             data-videoid="BJFC7r8hz8g"
             data-description="Илья Любушкин - 'ОТТО БОКК в России'">

        <img data-type="youtube"
             data-videoid="3PeoXeWK7hg"
             data-description="Настя Румянцева - 'О здоровье понарошку и всерьез'">

        <img data-type="youtube"
             data-videoid="mhwZUnAiJLU"
             data-description="Выпуск рассказывает о проекте 'ПРЕОДОЛЕЙ-КА'">
    </div>
</div>
